<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/bootstrap.min.css/}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <style>
    .container {
      max-width: 560px;
    }
  </style>
<body>
<div class="container">
  <div class="py-5 text-center">
  </div>
  <div>
    <label for="boardId">게시글 ID</label>
    <input type="text" id="boardId" name="boardId" class="form-control"
           value="id1" th:value="${item.id}" readonly>
  </div>
  <div>
    <label for="boardTitle">Title</label>
    <input type="text" id="boardTitle" name="boardTitle" class="form-control"
           value="title1" th:value="${item.title}" readonly>
  </div>
  <div>
    <label for="boardContent">Content</label>
    <input type="text" id="boardContent" name="boardContent" class="form-control"
           value="content1" th:value="${item.content}" readonly>
  </div>
  <div>
    <label for="boardDate">Date</label>
    <input type="text" id="boardDate" name="boardDate" class="form-control"
           value="date1" th:value="${item.date}" readonly>
  </div>
  <hr class="my-4">
  <div class="row">
    <div clas = "col">
      <div class="w-100 btn btn-primary btn-lg"
           onclick="location.href='editPost.html'"
           th:onclick="|location.href='@{/{boardId}/edit(boardId=${item.id})}'|"
           type="button">게시글 수정</button>
      </div>
    </div>
    <div clas = "col">
      <div class="w-100 btn btn-primary btn-lg"
           onclick="location.href='postList.html'"
           th:onclick="|location.href='@{/}'|"
           type="button">게시글 목록</button>
      </div>
    </div>
    <div clas = "col">
      <div class="w-100 btn btn-primary btn-lg"
           onclick="location.href='postList.html'"
           th:onclick="|location.href='@{/{boardId}/delete(boardId=${item.id})}'|"
           type="button">게시글 삭제</button>
      </div>
    </div>


  </div>




</div>





</body>
</html>