<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/bootstrap.min.css/}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <title>게시판</title>
</head>
<body>
<div class = "container" style="max-width: 1000px">
  <div class = "py-5 text-center">
    <h2>게시글</h2>
  </div>
  <div class = "row">
    <div class ="col">
      <button class = "btn btn-primary float-end"
              onclick="location.href='addPost.html'"
              th:onclick="|location.href='@{/addBoard}'|" type="button">게시글 작성</button>
    </div>
  </div>
  <hr class = "my-4">
  <div>
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Date</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="board : ${boards}">
        <td><a href="post.html" th:href="@{|/${board.id}|}" th:text="${board.id}">boardId</a></td>
        <td><a href="post.html" th:href="@{|/${board.title}|}" th:text="${board.title}">boardTitle</a></td>
        <td><a th:text="${board.date}">date</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>